.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: wheat;
  padding: 0;
  margin: 0;
}

.navContainer img {
  width: 8%;
}

h1 {
  color: rgb(58,188,187)
}

.logo {
  margin: 0 0 0 .45em;
}

.logo a {
  color: rgb(28, 24, 22);
}

.logo, .navigation {
  list-style: none;
  text-transform: uppercase;
}

.logo a, .navigation a {
  text-decoration: none;
  letter-spacing: .25rem;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 0.25em;
  color: rgb(248,72,91)
}

.navigation a:hover {
  background: wheat;
}

/* *********** media queries *********** */

@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  .logo {
    margin: 0;
  }
  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}

/* ****** ****** */

@media all and (max-width: 600px) {
  .logo {
    margin: .25em 0;
    align-self: left;
    /* align the logo to the left side of 'flex-container' */
  }
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
